<div class="ui three column middle aligned centered grid segment">
  <div class="column">
    <div class="ui centered card">
      <div class="image">
        <img src="assets/images/cat.jpg">
      </div>
      <div class="content">
        <div class="header">抵抗组织（大厅一）</div>
        <div class="meta">
          <span class="date">Joined in 2017</span>
        </div>
        <div class="description">Kristy is an art director living in New York. </div>
      </div>
      <div class="extra content">
        <i class="user icon"></i>（1/8）Person
        <a class="right floated"><i class="right arrow circular icon"></i></a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui centered card">
      <div class="image">
        <img src="assets/images/cat.jpg">
      </div>
      <div class="content">
        <div class="header">抵抗组织（大厅二）</div>
        <div class="meta">
          <span class="date">Joined in 2017</span>
        </div>
        <div class="description">Kristy is an art director living in New York. </div>
      </div>
      <div class="extra content">
        <i class="user icon"></i>（1/8）Person
        <a class="right floated"><i class="right arrow circular icon"></i></a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui centered card">
       <div class="image">
        <img src="assets/images/cat.jpg">
      </div>
      <div class="content">
        <div class="header">抵抗组织（大厅三）</div>
        <div class="meta">
          <span class="date">Joined in 2017</span>
        </div>
        <div class="description">Kristy is an art director living in New York. </div>
      </div>
      <div class="extra content">
        <i class="user icon"></i>（1/8）Person
        <a class="right floated"><i class="right arrow circular icon"></i></a>
      </div>
    </div>
  </div>
</div>
