<div class="ui container">
  <h2 class="ui centered text header">用户登录</h2>
  <div class="ui two column middle aligned centered very relaxed grid segment">
    <div class="one column row">
      <div class="column">
        <div class="ui centered dividing header">
          <i class="home icon"></i>
        </div>
      </div>
    </div>
    <div class="two column row">
      <div class="column">
        <form class="ui form" #loginForm="ngForm">
          <div class="field">
            <label for="username">用户名：</label>
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="username" placeholder="请输入用户名" [(ngModel)]="user.username" required>
            </div>
          </div>
          <div class="field">
            <label for="password">密码：</label>
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password" placeholder="请输入密码" [(ngModel)]="user.password" required>
            </div>
          </div>
          <div class="g-recaptcha" data-sitekey="6Lf-NRQUAAAAAKeYh3zg2zS9P0I6ocaTKcBSqjCr"></div>
          <a href="">忘记密码？</a>
        </form>
      </div>
      <div class="ui vertical divider" style="margin-top:5px;">OR</div>
      <div class="center aligned column">
        <button class="ui big positive labeled icon button" (click)="doLogin()" [disabled]="!loginForm.form.valid">
          <i class="checkmark icon"></i>登录
        </button>
        <br><br><br>
        <button class="ui big negative labeled icon button" routerLink="/user/register" routerLinkActive="active">
          <i class="signup icon"></i>注册
        </button>
      </div>
    </div>
  </div>
</div>
